:host {
  display: block;
  margin: 50px 0;
}
.meal {
  background: #fff;
  border: 1px solid #c1cedb;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0,0,0,.1);
  overflow: hidden;
  position: relative;
  h1 {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    margin: 0;
    padding: 0;
    img {
      margin: 0 10px 0 0;
    }
  }
  &__title {
    align-items: center;
    background: #f6fafd;
    border-bottom: 1px solid #c1cedb;
    display: flex;
    padding: 30px;
  }
}
.message {
  align-items: center;
  display: flex;
  font-size: 22px;
  font-weight: 500;
  justify-content: center;
  padding: 30px;
  width: 100%;
  img {
    margin: 0 10px 0 0;
  }
}
